/* body{
     background-color: rgb(247, 222, 238);
}  */
select{
    height: 40px;
    width:250px ;
    margin:18px;
    margin-left: 2px;
   
}
input{
    height: 40px;
    width:250px ;
    margin: 15px;
    margin-left: 2px;
    margin-bottom: 10px;
    /* background-color: #F8F9FA; */
}

/*img{
    background-color: white;
}*/
.btnupload{
    border: none;
}
.leftside{
    width: 70%;
}
.rigteside{
    width: 30%;
    float: right; 
    margin-top:-420px;
    margin-right:400px;
}
  
/* .main{
     margin-top:100px; 
     margin-left:400px; 
   
} */
.btn2{
    margin: 25px;
    /* margin-left: 250px; */
}

button{
    height: 30px;
    width: 160px;
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%, #224abe 100%);
    border-radius: 2px;
    color: #eee;
}

.bbtn{
margin-top: 20px;
text-align:center;
}
.Des{
    height: 100px;
    /*width: 290px;*/
    margin: 15px;
    margin-left: 2px;
    text-align:left;

}
 /************update/Add Editor**************/
.mainn{
    width:40%;
    padding: 10px;
    margin-top:155px;
}
.inp1{
    margin-top: 30px;
    color: black;
}
.btn1{
    /* margin-left:400px; */
    margin-top: 20px;
    /* width: 30%; */
    height: 25%;
    margin-bottom: 20px;
    background-color: #4e73df;
}
.icondiv{
    text-align: center;
}
.icons{
    text-align: center;
    color:  #4e73df;

}
.AddEditore{
   font-weight: 10px;
 color: #4e73df;
 margin-top: 20px;

}
/* .rowgift{
    margin-top: 2% ;
}
.maingift{
    background-color: #F8F9FA;
} */
/***************/
/* body{
    background-color: #F8F9FA;
} */
.rowgift{
    margin-top: 2% ;
}
/* .inputname{
    border:none;
    border-bottom: 1px solid #000;
    outline: 0;
} */
/* textarea{
    background-color: #F8F9FA;
} */
/* .inputname{
    background-color: #F8F9FA;
} */
.divfleximg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divbtneditor{
    display: flex;
    justify-content: center ;
    align-items: center;
}
.DRL{
    margin-top:3%;
}
.GFT{
    text-align:center;
}
.btnADD {
    height: 30px;
    width: 160px;
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%, #224abe 100%);
    border-radius: 2px;
    color: #eee;
}
.nav-item{
    margin-bottom:10px;
}